.row{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.boxRight{
    position: relative;
}
.textBox3{
    position: absolute;
    top: 10%;
    left: 25%;
}
.span{
    font-size: 22px;
    color: #838383;
    font-weight: 700;
}
.h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
}
.trendAllert{
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 36px;
}
.boxLeft1{
    position: relative;
}
.textBox1{
    position: absolute;
    top: 22%;
    right: 8%;
}
.jewelry{
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
}
.boxLeft2{
    position: relative;
    padding-top: 31px;
}
.textBox2{
    position: absolute;
    top: 45%;
    left: 8%;
}
.year{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}
.trend{
    font-size: 16px;
    letter-spacing: 4px;
    line-height: 45px;
}
.seeMore{
    position: absolute;
    top: 60%;
    right: 15%;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 50px;
    border: 2px solid #d0d7db;
}